---
import type { MatchBookmarksResult } from "@server/data/matchBookmarks";
import type { tagTable } from "@server/db";
import type { InferSelectModel } from "drizzle-orm";
import BookmarkItem from "./BookmarkItem.astro";

export type Props = {
  bookmarks: MatchBookmarksResult[];
  tags: InferSelectModel<typeof tagTable>[];
};

const { bookmarks, tags } = Astro.props;
const tagsMap = new Map(tags.map((tag) => [tag.id, tag]));
---

<div class="border-l-[1px] border-l-base-content">
  <ul class="flex flex-col">
    {
      bookmarks.map((bookmark) => (
        <li>
          <BookmarkItem tagsMap={tagsMap} tags={tags} item={bookmark} />
        </li>
      ))
    }
  </ul>
</div>
