---
import { Button } from "@components/Button/Button";

interface Props {
    showDone: boolean;
}

const { showDone } = Astro.props;
---

<form class="flex flex-col gap-4" method="get">
    <label>
        <input name="done" type="checkbox" checked={showDone} />
        Show Done
    </label>
    <Button type="submit">Filter</Button>
</form>
