---
import { buttonRecipe } from "@components/Button/Button.styles";
import { paths } from "@utils/paths";
---

<div>
    <h2>Login</h2>
    <div>
        <a
            class={buttonRecipe({ color: "primary", size: "lg" })}
            href={paths.loginMastodon}
        >
            Sign In using Mastodon!
        </a>
    </div>
</div>
