---
import { buttonRecipe } from "@components/Button/Button.styles";
---

<div>
    <h2>Login</h2>
    <div>
        <a
            class={buttonRecipe({ color: "primary", size: "lg" })}
            href="/login/mastodon"
        >
            Sign In using Mastodon!
        </a>
    </div>
</div>
