---
import "@components/Link/Link";
---

<div>
    <h2>Login</h2>
    <div>
        <alb-anchor variant="primary" size="large" href="/api/login">
            Sign In using Google!
        </alb-anchor>
    </div>
</div>
