---
import "@components/Link/Anchor";
---

<div>
    <h2>Login</h2>
    <div>
        <alb-anchor variant="primary" size="large" href="/login/mastodon">
            Sign In using Mastodon!
        </alb-anchor>
    </div>
</div>
