---
import { actions } from "astro:actions";
---

<form method="POST" action={actions.createTag}>
  <label>
    <span>New tag</span>
    <input name="name" autofocus autocomplete="off" />
  </label>
</form>
