---
import { bookmarkContextDefault } from "@modules/bookmarks/BookmarkContext";
import BookmarkFilters from "@modules/bookmarks/BookmarkFilters.astro";
import { BookmarkList } from "@modules/bookmarks/BookmarkList";
import { TypedBookmarkProvider } from "@modules/bookmarks/BookmarkProvider";
import Navbar from "@modules/common/Navbar.astro";
import { tagsContextDefault } from "@modules/tags/TagsContext";
import { TagsList } from "@modules/tags/TagsList";
import AstroTagsList from "@modules/tags/TagsList.astro";
import { TypedTagsProvider } from "@modules/tags/TagsProvider";
import { findBookmarks, findBookmarksByMastoIds } from "@server/bookmarks";
import { listMastoBookmarks } from "@server/masto";
import { matchBookmarks } from "@server/matchBookmarks";
import { findTags } from "@server/tags";
import { paths } from "@utils/paths";
import { z } from "astro/zod";
import Layout from "../layouts/Layout.astro";

if (!Astro.locals.session) {
  return Astro.redirect(paths.login);
}

const showDone = z.coerce.boolean().parse(Astro.url.searchParams.get("done"));

const tags = findTags(Astro);

const { mastoBookmarks, minId, maxId } = await listMastoBookmarks(Astro, {
  maxId: null,
});

const bookmarksForMasto = findBookmarksByMastoIds(Astro, {
  mastoBookmarks,
});

const bookmarksResult = findBookmarks(Astro, {
  endDate: new Date(),
  startDate: null,
});

const matchedBookmarks = matchBookmarks({
  bookmarksForMasto,
  bookmarksResult,
  mastoBookmarks,
  showDone,
});
---

<Layout title="Welcome to Astro.">
  <TypedTagsProvider
    client:only="lit"
    value={{
      ...tagsContextDefault,
      tags,
      tagsMap: new Map(tags.map((tag) => [tag.id, tag])),
    }}
  >
    <TypedBookmarkProvider
      client:only="lit"
      value={{
        ...bookmarkContextDefault,
        bookmarks: matchedBookmarks,
        minId,
        maxId,
        showDone,
      }}
    >
      <main class="relative">
        <Navbar />

        <div class="container grid grid-cols-[2fr_1fr] max-w-5xl my-0 mx-auto">
          <BookmarkList client:only="lit" />
          <aside
            class="block sticky top-0 border-x-[1px] border-x-base-content"
          >
            <BookmarkFilters showDone={showDone} />
            <TagsList client:only="lit" />
            <AstroTagsList tags={tags} />
          </aside>
        </div>
      </main>
    </TypedBookmarkProvider>
  </TypedTagsProvider>
</Layout>
