---
import Layout from "../layouts/Layout.astro";
import "../components/Button/Button";
---

<Layout title="Welcome to Astro.">
  <main>
    <alb-button>AAA</alb-button>
    <alb-button variant="secondary">Secondary</alb-button>
    <alb-button disabled>AAA</alb-button>
  </main>
</Layout>
