---
import Layout from "../layouts/Layout.astro";
import "../components/Button/Button";
---

<Layout title="Welcome to Astro.">
  <main>
    <alb-button>Primary</alb-button>
    <alb-button variant="secondary">Secondary</alb-button>
    <alb-button disabled>AAA</alb-button>
    <alb-button size="small">Small</alb-button>
    <alb-button size="medium">Medium</alb-button>
    <alb-button size="large">Large</alb-button>

    <a href="/login/mastodon">Sign in with Mastodon</a>
  </main>
</Layout>
