---
import Layout from "../layouts/Layout.astro";
import "../components/Button/Button";
import { paths } from "@utils/paths";
import { findTags } from "@server/tags";
import { TagsList } from "@modules/tags/TagsList";
import { TypedTagsProvider } from "@modules/tags/TagsProvider";
import { findBookmarks, findBookmarksByMastoIds } from "@server/bookmarks";
import { BookmarkList } from "@modules/bookmarks/BookmarkList";
import { matchBookmarks } from "@modules/bookmarks/matchBookmarks";
import { tagsContextDefault } from "@modules/tags/TagsContext";
import { TypedBookmarkProvider } from "@modules/bookmarks/BookmarkProvider";
import { bookmarkContextDefault } from "@modules/bookmarks/BookmarkContext";

if (!Astro.locals.session) {
  return Astro.redirect(paths.login);
}

const tags = findTags(Astro);

const mastoBookmarks = await Astro.locals.mastoClient?.v1.bookmarks.list({
  limit: 10,
});

const bookmarksForMasto = findBookmarksByMastoIds(Astro, {
  mastoBookmarks: mastoBookmarks ?? [],
});

const bookmarksResult = findBookmarks(Astro, {
  to: new Date(),
});

const matchedBookmarks = matchBookmarks({
  bookmarksForMasto,
  bookmarksResult,
  mastoBookmarks: mastoBookmarks ?? [],
});
---

<Layout title="Welcome to Astro.">
  <main>
    <alb-button>Primary</alb-button>
    <alb-button variant="secondary">Secondary</alb-button>
    <alb-button disabled>AAA</alb-button>
    <alb-button size="small">Small</alb-button>
    <alb-button size="medium">Medium</alb-button>
    <alb-button size="large">Large</alb-button>

    <a href={paths.loginMastodon}>Sign in with Mastodon</a>
    <a href={paths.logout}>Sign out</a>

    <TypedTagsProvider
      client:only="lit"
      value={{
        ...tagsContextDefault,
        tags,
        tagsMap: new Map(tags.map((tag) => [tag.id, tag])),
      }}
    >
      <TypedBookmarkProvider
        client:only="lit"
        value={{ ...bookmarkContextDefault, bookmarks: matchedBookmarks }}
      >
        <TagsList client:only="lit" />
        <BookmarkList client:only="lit" />
      </TypedBookmarkProvider>
    </TypedTagsProvider>
  </main>
</Layout>
