---
import { pwaInfo } from "virtual:pwa-info";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <script src="/src/pwa.ts"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --black: 0, 0, 0;
    --white: 255, 255, 255;

    --purple-500: 85, 106, 235;
    --purple-700: 29, 47, 153;
    --purple-800: 12, 26, 102;

    --neutral-100: 248, 249, 250;
    --neutral-200: 233, 236, 239;
    --neutral-300: 222, 226, 230;
    --neutral-400: 206, 212, 218;
    --neutral-900: 33, 37, 41;

    --op-disabled: 0.6;
    --transition-fast: 100ms;

    --border: 1px solid gray;

    --background: var(--white);
  }
  html {
    font-family: monospace, system-ui, sans-serif;
  }

  body {
    margin: 0;
  }
</style>
